.navbar-hai {
    position: fixed;
    width: 100%;
    z-index: 2;
}

#home {
    padding-top: 3%;
    height: 750px;
    width: 100%;
    /* background-image: url("images/bride-7638298\ 2.jpg"); */
    /* background-color: rgba(255, 255, 255, 0.6); */
    /* background-color: rgba(236, 236, 236, 0.5); */
    background-blend-mode: lighten;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

@keyframes text {
    0% {
        width: 0ch;
    }

    50% {
        width: 28ch;
    }
}

.title-para {
    /* font-size: 3.5rem; */
    /* padding-bottom: 5%; */
    /* text-align: center; */
    padding-left: 30px;
    padding-top: 25%;
    /* font-family: 'Inter'; */
    font-style: normal;
    font-weight: 500;
    font-size: 60.1731px;
    line-height: 66px;
    /* color: #FFFFFF; */
    position: absolute;
    z-index: 1;
    color: #fff;
}


@media screen and (max-width: 900px) {
    #home {
        width: 100%;
        height: 100%;
        padding-top: 10%;
    }

    .title-para {
        font-size: 15px;
        line-height: 18px;
        padding-top: 100px;
        padding-left: 50px;
    }

    .title-para-divv {
        height: 15px;
    }

}


#highlights {
    width: 1370px;
    height: 650px;
    margin: 5% auto;
    padding-bottom: 40px;
    padding-top: 30px;
}

#highlights h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 45px;
    color: #000000;
    margin: 0;
    font-family: 'DM Serif Display';
    font-style: normal;
    padding-bottom: 50px;
    padding-top: 50px;
    font-weight: 400;

}

/* .highlights-heading {
    height: 48px;
    width: 400px;
    color: #440BB7;
    font-size: 21.38px;
    font-weight: 700;
    line-height: 107.52%;
    letter-spacing: 0em;
    text-align: left;
    padding-top: 20px;
    font-family: 'Inter';
    font-size: normal;
    text-transform: uppercase;
}

.left-div {
    width: 500px;
    height: 214.88px;
    left: 226.33px;
    top: 1208.86px;
    background: #FFFFFF;
    box-shadow: 0px 2.42806px 14.1009px -2.42806px #CBCBCB;
}


.left-container {
    box-sizing: border-box;
    width: 212px;
    height: 160px;
    left: 155px;
    top: 1206px;
    padding-top: 55px;
    padding-left: 40px;
    background: #FFFFFF;
    border-radius: 100%;
}

.highlights-p-heading {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0em;
    text-align: left;
    padding-right: 25px;
}

.highlights-p {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
    padding-right: 25px;
} */

.icon-img {
    width: 130px;
    height: 130px;
    /* padding-right: 45px; */
}

/* .icon-div{
    width: 20%;
    height: 50%;
} */
.highlight-para-div {
    /* padding-left: 100px; */
    width: 480px;
    height: 130px;
    padding-left: 0px;
    /* background: #FFFFFF; */
    box-shadow: 10px 0.42806px 13.1009px -6.42806px #CBCBCB;
    border-radius: 8.90916px 8.90916px 8.90916px 8px;
}

.highlight-heading-para {
    width: 218px;
    height: 20px;
    left: 392px;
    top: 1244px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14.382px;
    line-height: 107.52%;
    /* identical to box height, or 23px */

    letter-spacing: -0.02em;
    text-transform: uppercase;

    color: #440BB7;
    padding-top: 6px;
}

.highlight-hai {
    padding-bottom: 50px;
}

.highlights-para {
    width: 420.4px;
    height: 25px;
    left: 392.05px;
    top: 1285px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14.0365px;
    line-height: 107.52%;
    /* or 17px */

    letter-spacing: -0.02em;

    color: #000000;
}

.pp {
    padding-right: 120px;
}

.highlight-heading-second-para {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16.0365px;
    line-height: 70.52%;
    /* or 17px */

    letter-spacing: -0.02em;

    color: #000000;
    padding-top: 0px;
}

.mobile-view-heading {
    display: none;
}

@media screen and (max-width: 900px) {
    .highlight-para-div {
        display: none;
    }

    #highlights {
        /* width: 355px; */
        width: 320px;
    }

    #highlights h1 {
        font-size: 40px;
    }

    .highlights-div {
        padding-left: 18px;
        /* padding-left: 0; */
    }

    .icon-img {
        width: 115px;
        height: 115px;
    }
    .highlights-first-div{
        padding-bottom: 0;
    }

    .mobile-view-heading {
        display: block;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 300;
        font-size: 17.5212px;
        line-height: 18px;
        /* identical to box height, or 105% */

        letter-spacing: -0.02em;
        padding-top: 5px;
        padding-left: 5px;
    }

    .mobile-view-heading-unique {
        padding-left: 35px;
    }
}




#services {
    width: 1170px;
    height: 700px;
    margin: 5% auto;
    padding-bottom: 0%;
    padding-top: 0%;
}

#services h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 45px;
    color: #000000;
    margin: 0;
    font-family: 'DM Serif Display';
    font-style: normal;
    padding-bottom: 30px;
    padding-top: 70px;
}

.card-hai {
    width: 300px;
    height: 520px;
}

.service-p-heading {
    color: #440BB7;
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
}

.service-p-first {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;

    color: #000000;
}


.service-link {
    text-decoration: none;
}

.service-icon {
    padding-left: 120px;
}
.services-links{
    display: flex;
}

@media screen and (max-width: 900px) {
    #services {
        width: 320px;
    }

    #services h1 {
        padding-top: 110px;
    }

    .each-service-div {
        padding-left: 6%;
        /* padding-bottom: 20px; */
    }
    .first-service-div{
        padding-bottom: 50px;
    }

    .card-hai-extra {
        height: 550px;
    }
    #services{
        height: 900px;
    }
}

.keshav {
    padding-top: 1070px;
}

@media screen and (max-width: 900px) {
    .keshav {
        padding-top: 3850px;
    }
}















#gallery {
    padding-top: 100px;
    padding-bottom: 160px;
}

.gallery-heading {
    padding-left: 180px;
    padding-bottom: 45px;
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 52.8085px;
    line-height: 72px;
    text-transform: uppercase;
    /* width: 535.85px;
    height: 72px; */
}

.carousel-gallery {
    min-width: 900px;
    max-width: 1236px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 48px;
    padding-right: 48px;
    position: relative;
}

.activator {
    display: none;
}

.controls {
    display: none;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    right: 16px;
    left: 16px;
    bottom: 0;
}

.controls:first-of-type {
    justify-content: flex-end;
}

.controls:last-of-type {
    justify-content: flex-start;
}

.control {
    cursor: pointer;
    background-color: #3d414a;
    color: #fff;
    border-radius: 100%;
    box-shadow: 0 2px 10px 0 rgb(33 34 36 / 30%);
    font-size: 40px;
    height: 48px;
    justify-content: center;
    transition: 0.3s all;
    width: 48px;
    z-index: 1;
    text-align: center;
    line-height: 40px;
}

.control:hover {
    transform: scale(1.05);
}

.activator:nth-of-type(1):checked~.controls:nth-of-type(1) {
    display: flex;
}

.activator:nth-of-type(1):checked~.screen .track {
    transform: translateX(0%);
}

.activator:nth-of-type(2):checked~.controls:nth-of-type(2) {
    display: flex;
}

.activator:nth-of-type(2):checked~.screen .track {
    transform: translateX(-100%);
}

.activator:nth-of-type(3):checked~.controls:nth-of-type(3) {
    display: flex;
}

.activator:nth-of-type(3):checked~.screen .track {
    transform: translateX(-200%);
}

.activator:nth-of-type(4):checked~.controls:nth-of-type(4) {
    display: flex;
}

.activator:nth-of-type(4):checked~.screen .track {
    transform: translateX(-300%);
}

.activator:nth-of-type(5):checked~.controls:nth-of-type(5) {
    display: flex;
}

.activator:nth-of-type(5):checked~.screen .track {
    transform: translateX(-400%);
}

.activator:nth-of-type(6):checked~.controls:nth-of-type(6) {
    display: flex;
}

.activator:nth-of-type(6):checked~.screen .track {
    transform: translateX(-500%);
}

.activator:nth-of-type(7):checked~.controls:nth-of-type(7) {
    display: flex;
}

.activator:nth-of-type(7):checked~.screen .track {
    transform: translateX(-600%);
}

.activator:nth-of-type(8):checked~.controls:nth-of-type(8) {
    display: flex;
}

.activator:nth-of-type(8):checked~.screen .track {
    transform: translateX(-700%);
}

.activator:nth-of-type(9):checked~.controls:nth-of-type(9) {
    display: flex;
}

.activator:nth-of-type(9):checked~.screen .track {
    transform: translateX(-800%);
}

.activator:nth-of-type(10):checked~.controls:nth-of-type(10) {
    display: flex;
}

.activator:nth-of-type(10):checked~.screen .track {
    transform: translateX(-900%);
}

.screen {
    overflow: hidden;
    margin-left: -16px;
    margin-right: -16px;
}

.track {
    font-size: 0;
    transition: all 0.3s ease 0s;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.item {
    display: inline-flex;
    padding-left: 16px;
    padding-right: 16px;
    vertical-align: top;
    white-space: normal;
}

.item--desktop-in-1 {
    width: 100%;
}

.item--desktop-in-2 {
    width: 50%;
}

.item--desktop-in-3 {
    width: 33.3333333333%;
}

.item--desktop-in-4 {
    width: 25%;
}

.item--desktop-in-5 {
    width: 20%;
}

.demo-container {
    /* display: flex;
    position: absolute; */
    top: 0;
    align-items: center;
    bottom: 0;
    left: 0;
    right: 0;
}

.demo-content {
    color: #fff;
    display: flex;
    font-family: Helvetica;
    font-weight: 100;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    border-radius: 3px;
    font-size: 56px;
    height: 250px;
    width: 100%;
}

.item:nth-child(1) .demo-content {
    background-color: #440BB7;
}

.item:nth-child(2) .demo-content {
    background-color: #440BB7;
}

.item:nth-child(3) .demo-content {
    background-color: #440BB7;
}

.item:nth-child(4) .demo-content {
    background-color: #440BB7;
}

.item:nth-child(5) .demo-content {
    background-color: #440BB7;
}

.item:nth-child(6) .demo-content {
    background-color: #440BB7;
}

.item:nth-child(7) .demo-content {
    background-color: #440BB7;
}

.gallery-mobile-view {
    display: none;
}

@media screen and (max-width: 1023px) {
    .carousel-gallery {
        padding-left: 0;
        padding-right: 0;
    }


    .activator:nth-of-type(n):checked~.controls:nth-of-type(n) {
        display: none;
    }

    .activator:nth-of-type(n):checked~.screen .track {
        transform: none;
    }

    .screen {
        margin-left: 0;
        margin-right: 0;
    }

    .track {
        overflow-x: auto;
        width: auto;
        padding-left: 48px;
        padding-right: 48px;
    }

    .item--tablet-in-1 {
        width: 90%;
    }

    .item--tablet-in-2 {
        width: 45%;
    }

    .item--tablet-in-3 {
        width: 30%;
    }
}

@media screen and (max-width: 650px) {}

@media screen and (max-width: 900px) {
    .demo-container {
        display: none;
    }

    /* .track {
        padding-left: 0;
        padding-right: 0;
    }

    .item--mobile-in-1 {
        width: 90%;
    }

    .item--mobile-in-2 {
        width: 45%;
    }

    .item--mobile-in-3 {
        width: 30%;
    }
    #gallery{
        width: 50px;
    }
    .screen{
        width: 50%;
    }
    .demo-container{
        width: 200px;
    } */
    .gallery-heading {
        padding-left: 20px;
        font-size: 28px;
        line-height: 28px;
    }

    .gallery-mobile-view {
        display: block;
        padding: 45px;
        padding-top: 0;
    }
}

























.services .card-body i {
    font-size: 50px;
}

.team .card-body i {
    font-size: 20px;
}

.card-text {
    font-size: 12px;
}

.ye-wala {
    border: 1.44461px solid #000000;
    border-radius: 28.8923px;
    width: 300px;
    height: 430px;
}

#testimonial {
    padding-top: 70px;
}

.team-row {
    padding-left: 90px;
    padding-bottom: 130px;
    /* padding-top: 30px; */
}

.team-link {
    text-decoration: none;
    color: #440BB7;
    /* font-family: 'Inter';
    font-style: normal; */
    font-weight: 600;
    font-size: 13px;
    line-height: 28px;
    width: 235px;
    height: 28px;
    left: 312px;
    top: 6017px;
}

.team-name {


    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20.2933px;
    /* line-height: 42px; */
}

span {
    color: #440BB7;
}

@media screen and (max-width: 900px) {
    .each-testimonial {
        padding-bottom: 58px;
        /* padding-left: 25px; */
        padding-left: 10%;
    }

    .team-row {
        /* padding-left: 15px; */
        padding-left: 0;
        padding-bottom: 0;
    }

    #services h1 {
        font-size: 40px;
    }

    #testimonial {
        padding-top: 110px;
    }
}


#about {
    padding-top: 80px;
}

.line {
    width: 1300px;
    height: 3px;
    background: #3D3C3C;
}

.line-div {
    padding-left: 100px;
}

.yellow-div {
    width: 500px;
    height: 519px;
    background: #FFD951;
    border-radius: 10px;
}

.roww {
    padding-left: 150px;
    padding-top: 50px;
    display: flex;
    padding-bottom: 50px;
}

.about-heading {
    padding-left: 150px;
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    /* line-height: 130px; */
    text-transform: uppercase;

    color: #440BB7;
}

.small-line {
    width: 500px;
    height: 3px;
    background: #3D3C3C;
    padding-left: 75px;
}

.para {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;
    text-transform: uppercase;
    width: 564px;
    height: 186px;
    padding-left: 100px;
    padding-top: 50px;
}

.line-last {
    padding-bottom: 90px;
}

@media screen and (max-width: 900px) {
    #about {
        padding-top: 0;
    }

    .roww {
        position: relative;
    }

    .yellow-div {
        /* position: absolute;
        width: 200px;
        height: 300px;
        padding-top: 40px; */
        display: none;
    }

    .line {
        /* width: 500px; */
        display: none;
    }

    .line-div {
        padding-left: 30px;
    }

    .roww {
        padding-left: 0;
    }

    .small-line {
        width: 300px;
    }

    .para {
        padding-left: 30px;
        padding-right: 30px;
        width: 350px;
    }

    .about-heading {
        padding-left: 70px;
        font-size: 40px;
    }

    .blue-div {
        width: 100%;
    }
}


.blue-div {
    width: 1300px;
    height: 519px;
    background: #440BB7;
    border-radius: 10px;
}

#contact {
    padding-bottom: 150px;
}

.contact-div {
    padding-left: 100px;
    padding-top: 100px;
}

.contact-heading {
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 37.2422px;
    line-height: 51px;
    /* identical to box height */

    text-transform: uppercase;

    color: #FFFFFF;
    float: left;
    /* padding-top: 50px; */
}

.contact-heading-div {
    padding-left: 100px;
    padding-top: 20px;
}

.contact-para {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 47.2119px;
    line-height: 57px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.contact-div-para {
    padding-left: 110px;
    padding-top: 60px;
}

.contact-row {
    float: left;
}

.contact-form {
    width: 388px;
    height: 535px;
    background: #FFFFFF;
    box-shadow: 0px 3.31042px 21.5177px -3.31042px #A578FF;
    border-radius: 5.2027px;
    padding-bottom: 50px;
}

.form-div {
    padding-left: 180px;
    padding-bottom: 40px;
}

.form-input {
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 50px;
}

.form-input-second {
    display: none;
}

input[type=text] {
    width: 100%;
    padding: 3px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid black;
}

.last-name {
    padding-top: 30px;
}

.detail {
    color: #565656;
}

.select-btn {
    padding-top: 30px;
}

.submit-btn-div {
    text-align: center;
    padding-top: 30px;
}

.submit-btn {
    background-color: #440BB7;
    color: #FFFFFF;
    width: 280px;
    border-radius: 8.2px;
}

.submit-btn:hover {
    color: antiquewhite;
    background-color: #7950ca;
}

@media screen and (max-width: 900px) {
    .blue-div {
        width: 100%;
        height: 660px;
    }

    .contact-div {
        padding-left: 1%;
        padding-top: 200px;
    }

    .contact-para {
        display: none;
    }

    .contact-div-para {
        display: none;
    }

    .contact-row {
        display: none;
    }

    .form-input-second {
        display: block;
        margin-left: 50px;
        margin-right: 50px;
        padding-top: 50px;
    }

    .form-div {
        padding-left: 12px;
        width: 120px;
        /* background: #440BB7; */
    }

    .contact-form {
        /* background: #440BB7; */
        width: 380px;
        box-shadow: none;
        display: none;
    }

    .detail {
        color: #ccc;
    }

    .submit-btn {
        background-color: #ccc;
        color: black;
    }

    .contact-heading-div {
        padding-left: 65px;
        padding-top: 45px;
    }

    .submit-btn {
        width: 90px;
        background-color: #ffffff;
    }

    .input-box {
        border-radius: 5px;
    }
}




#footer {
    /* padding-top: 250px; */
    padding-top: 0;
}

.footer-clean {
    padding: 50px 0;
    background-color: #fff;
    color: #4b4c4d;

    height: 500px;
    box-shadow: 0px 3.31042px 21.5177px -3.31042px #A578FF;
}

.footer-clean .ph {
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 16px;
}

.footer-clean ul {
    padding: 0;
    list-style: none;
    line-height: 2.6;
    font-size: 14px;
    margin-bottom: 0;
}

.footer-clean ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer-clean ul a:hover {
    opacity: 1;
}

.footer-clean .item.social {
    text-align: left;
}

@media (max-width:767px) {
    .footer-clean .item {
        text-align: center;
        padding-bottom: 20px;
    }

    .footer-clean {
        padding-top: 150px;
    }
}

@media (max-width: 768px) {
    .footer-clean .item.social {
        text-align: center;
    }

    .footer-clean {
        padding-top: 150px;
    }
}

.footer-clean .item.social>a {
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin-left: 10px;
    margin-top: 22px;
    color: inherit;
    opacity: 0.75;
}

.footer-clean .item.social>a:hover {
    opacity: 0.9;
}

@media (max-width:991px) {
    .footer-clean .item.social>a {
        margin-top: 40px;
    }

    .footer-clean {
        height: 980px;
    }

    .footer-last {
        padding-top: 115px;
    }

    #footer {
        padding-top: 0;
    }

    .footer-clean {
        padding-top: 150px;
    }
}

@media (max-width:767px) {
    .footer-clean .item.social>a {
        margin-top: 10px;
    }

    .footer-clean {
        height: 980px;
    }

    .footer-last {
        padding-top: 116px;
    }
}


.footer-clean .copyright {
    margin-top: 14px;
    margin-bottom: 0;
    font-size: 13px;
    opacity: 0.6;
}

.footer-last {
    padding-top: 170px;
}

.lower-footer {
    padding-top: 10px;
}

.footer-line {
    border: 1.33194px solid #D9DBE9;
}

@media screen and (max-width: 900px) {
    .footer-last {
        padding-top: 115px;
    }
}




/* .gallery{
    width: 100%;
}

.gallery-container{
    align-items: center;
    display: flex;
    height: 400px;
    margin: 0 auto;
    max-width: 1000px;
    position: relative;
}
.gallery-item{
    height: 200px;
    opacity: 0;
    position: absolute;
    transition: all 0.3s ease-in-out;
    width: 330px;
    z-index: 0;
    border-radius: 15px;
    background-size: contain;
}
.gallery-item-1{
    left: 15%;
    opacity: .4;
    transform: translateX(-50%);
}
.gallery-item-2, .gallery-item-4{
    height: 250px;
    opacity: 0.8;
    width: 380px;
    z-index: 1;
}
.gallery-item-2{
    left: 30%;
    transform: translateX(-50%);
}
.gallery-item-3{
    box-shadow: -2px 5px 33px 6px rgba(0, 0, 0, 0.35);
    height: 300px;
    opacity: 1;
    left: 50%;
    transform: translateX(-50%);
    width: 430px;
    z-index: 2;
}
.gallery-item-4{
    left: 70%;
    transform: translateX(-50%);
}
.gallery-item-5{
    left: 85%;
    opacity: .4;
    transform: translateX(-50%);
}
.gallery-controls{
    display: flex;
    justify-content: center;
    margin: 25px 0;
    height: 100px;
}
.gallery-controls button{
    background-color: transparent;
    border: 0;
    cursor: pointer;
    font-size: 30px;
    margin: 0 50px;
    padding: 0 12px;
    text-transform: capitalize;
} */








#faq {
    padding-top: 100px;
    padding-bottom: 250px;
    /* height: 1000px; */
    height: 90%;
    /* background-color: #a19ddc; */
    background-color: #ffffff;
}
.border-line{
    border: 2px solid;
    margin-left: 45px;
    margin-right: 45px;
}

.faq-h1 {
    font-size: clamp(20px, 4vw, 30px);
    line-height: 1.2px;
    margin-bottom: 30px;
    margin-top: 35px;
    text-align: center;
    color: #000000;
    font-family: 'DM Serif Display';
    /* font-family: 'Poppins', sans-serif; */
    font-style: normal;
}

main {
    /* max-width: 520px; */
    width: 1250px;
    margin: 0 auto;
}
.faq-roww{
    display: flex;
}

summary {
    font-size: 1.25rem;
    font-weight: 600;
    background-color: #fafafa;
    /* background-image: radial-gradient(circle at 40% 91%, rgba(251, 251, 251, 0.04) 0%, rgba(251, 251, 251, 0.04) 50%, rgba(229, 229, 229, 0.04) 50%, rgba(229, 229, 229, 0.04) 100%), radial-gradient(circle at 66% 97%, rgba(36, 36, 36, 0.04) 0%, rgba(36, 36, 36, 0.04) 50%, rgba(46, 46, 46, 0.04) 50%, rgba(46, 46, 46, 0.04) 100%), radial-gradient(circle at 86% 7%, rgba(40, 40, 40, 0.04) 0%, rgba(40, 40, 40, 0.04) 50%, rgba(200, 200, 200, 0.04) 50%, rgba(200, 200, 200, 0.04) 100%), radial-gradient(circle at 15% 16%, rgba(99, 99, 99, 0.04) 0%, rgba(99, 99, 99, 0.04) 50%, rgba(45, 45, 45, 0.04) 50%, rgba(45, 45, 45, 0.04) 100%), radial-gradient(circle at 75% 99%, rgba(243, 243, 243, 0.04) 0%, rgba(243, 243, 243, 0.04) 50%, rgba(37, 37, 37, 0.04) 50%, rgba(37, 37, 37, 0.04) 100%), linear-gradient(90deg, rgb(0, 0, 0), rgb(93, 0, 255)); */
    background-color: #ffffff;
    color: #000000;
    padding: 1rem;
    margin-bottom: 1rem;
    outline: none;
    /* border-radius: 0.25rem; */
    text-align: left;
    cursor: pointer;
    position: relative;
    /* font-family: 'Inter'; */
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    border-bottom: 1px solid;
}
.faq__content{
    border-bottom: 1px solid;
}

.faq-para {
    text-align: left;
    color: rgb(0, 0, 0);
    padding-left: 20px;
    padding-right: 10px;
    font-family: 'Inter';
    font-style: normal;
}

details[open] summary~* {
    animation: sweep .5s ease-in-out;
}

@keyframes sweep {
    0% {
        opacity: 0;
        margin-top: -10px
    }

    100% {
        opacity: 1;
        margin-top: 0px
    }
}

details>summary::after {
    position: absolute;
    content: "+";
    right: 20px;
}

details[open]>summary::after {
    position: absolute;
    content: "-";
    right: 20px;
}

details>summary::-webkit-details-marker {
    display: none;
}

@media screen and (max-width: 900px){
    .faq-roww{
        display: block;
    }
    #faq{
        padding-top: 15px;
        padding-bottom: 15px;
    }
    main{
        max-width: 520px;
        width: auto;
    }
}
